
@model IEnumerable<Music.Models.Album>
@{
    ViewBag.Title = "BrowseByArtist";
}

<h2>BrowseByArtist</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Albums", new { id = item.AlbumID }, null)
            </td>
        </tr>
    }
</table>