@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Bradley Records</h1>

    <p>Music</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>
            <a class="btn btn-primary btn-md btn-block" id="albums" href="/Albums">Browse by Albums</a>
        </p>
        <p>Browse albums.</p>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>
            <a class="btn btn-primary btn-md btn-block" id="artists" href="/Artists">Browse by Artists</a>
        </p>
        <p>Browse artists.</p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>
            <a class="btn btn-primary btn-md btn-block" id="genres" href="/Genres">Browse by Genres</a>
        </p>
        <p>Browse genres.</p>
    </div>
</div>